<?xml version='1.0' encoding='utf-8'?>
<widget id="gov.al.es" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ales Mobile</name>
    <description>
        Aplicativo móvel da Ales.
    </description>
    <author email="css@al.es.gov.br" href="http://www2.al.es.gov.br/mobile">
        Coordenação do Setor de Sistemas - DTI
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
